.home
{

}
.meter
{

}
.contact
{

}
ul 
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: yellow;
}

li {
    float: left;
}

li a {
    display: block;
  
    text-align: center;
    padding: 14px 52px;
    text-decoration: none;
}
.backImg{
     background-repeat: no-repeat;
     background-size: 100%;
     background-image: url(images.jpg);

}
.videoDesign{
    position: relative;
    
    top: 30px;
    padding-left: 470px;}
